body {
    background-color: rgb(8, 20, 52);
    overflow-x: hidden;
}

h1 {
    color: white;
    padding-left: 15%;
}
ul {
    color: white;
    font-size: 25px ;
    padding-left:1% ;
    padding-right: 1%;
    
}

li {
    border: 10px solid rgb(8, 20, 52);
    padding: 10px;
    border-radius: 40px ;
    background-color: rgb(5, 90, 186);
}

div {
    
}

input {
    border-radius: 10px ;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    font-size: 20px;
    width: 350px; 
}
