body {
    background-color: rgb(32, 89, 231);
}

h1 {
    color: white;
    padding-left: 15%;
}
ul {
    color: white;
}

div {
    position: center;
    padding-left: 25%
}

input {
    border-radius: 10px ;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    font-size: 20px;
    width: 350px; 
}